.navbar-gradient {
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
}

.navbar-gradient .navbar-brand,
.navbar-gradient .btn-outline-light {
  color: #fff;
  transition: color 0.3s;
}

.navbar-gradient .btn-outline-light:hover {
  color: #693bff;
}


body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(270deg, #ff9a9e, #fad0c4, #a1c4fd, #c2e9fb);
  background-size: 800% 800%;
  animation: gradientAnimation 15s ease infinite;
}
.text-pink {
  color: #ff69b4; /* warna pink */
}

@keyframes gradientAnimation {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.bubble {
  position: absolute;
  bottom: -50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  animation: rise 10s infinite ease-in;
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) scale(1);
    opacity: 0;
  }
}
